*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --body-bg: #efeffc;
    --nav-bg: linear-gradient(90deg, #6c3cf5, #3b82f6);
    --white: #fff;
    --primary-purple: #8b67ef;
    --primary-blue: #3b82f6;
    --light-purple: #e8ddfe;
    --light-blue: #dcebff;
    --card-box: #f5f6fc;
    --secondary-text: #64748b;
    --button-gradient: linear-gradient(135deg, #6c3cf5, #3b82f6);
    --button-hover: linear-gradient(90deg, #fa2eeb, #2563eb);
}
.effect:hover{
    transform: rotate(360deg);
}

body{
    background: var(--body-bg);
}
nav{
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 3rem;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logo img{
    width: 32px;
    transition: .9s ease;
}
.logo img:hover{
    transform: scale(1.3);
}
li{
    list-style-type: none;
    color: var(--white);
    font-weight: 400;
    letter-spacing: 1px;
}
.nav-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.8)inset;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 3s ease;
}

/* Main Content */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}
.card{
    width: 500px;
    height: 400px;
    background-color: var(--white);
    border-radius: .60rem;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;

}
.card-text{
    display: flex;
    align-items: center;
    gap: .60rem;
    font-size: 1.4rem;
}
.card-text-1{
    color: var(--primary-purple);
}
.card-text-2{
    color: var(--primary-blue);
}
.card-icon{
    width: 35px;
    height: 35px;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon-1{
    background: var(--primary-purple);
    color: var(--light-purple);
}
.card-icon-2{
    background: var(--primary-blue);
    color: var(--light-blue);
}
.card-container{
    width: 450px;
    height: 300px;
    background-color: var(--card-box);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin-top: 20px;
    border-radius: 1rem;
    overflow: hidden;
}
.card-container-1{
    padding: 1rem;
    text-align: center;
}
#random-cat-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer Section */

footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.footer-icon{
    font-size: 2rem;
    cursor: pointer;
    transition: transform 3s ease;
}
.footer-icon-1{
    color: var(--primary-purple);
}
.footer-icon-2{
    color: var(--primary-blue);
}

button{
    background: var(--button-gradient);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 2rem;
    color: var(--white);
    padding: 1rem;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
button:hover{
    background: var(--button-hover);
    transform: translateY(-3px);
}
.copyright{
    text-align: center;
    padding-bottom: 1rem;
    color: var(--secondary-text);
}

/* Now time for Responsivenes
Mobile Responsive Design */

@media (max-width: 768px) {
    
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 1.5rem;
        text-align: center;
        gap: .8rem;
    }
    .logo{
        flex-direction: column;
        
    }
    .logo img{
        width: 60px;
    }
    .logo h2{
        font-size: 1.5rem;
    }
    .logo p{
        font-size: .9rem;
        margin-top: 10px;
    }

    main{
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
    }
    .card{
        width: 100%;
        max-width: 420px;
        height: auto;
    }
    .card-container{
        width: 100%;
        max-width: 350px;
        font-size: 1.1rem;
    }
    #random-cat-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    button{
        width: 100%;
        max-width: 320px;
    }
    footer{
        justify-content: center;
    }
    .footer-icon{
        display: none;
    }
    .copyright{
        padding: 1rem;
        font-size: .8rem;
    }


}
